# macOS-systemfiler
.DS_Store
.AppleDouble
.LSOverride

# macOS Library-folderen (masse privat data og systemgreier)
Library/
Pictures/

# VS Code config
.vscode/

# Node-modules hvis du bruker npm/yarn
node_modules/

# Byggede filer
dist/
build/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Miljøfiler
.env
.env.local
.env.*.local

# Cache
.cache/
