/* Generelle stilendringer */
body {
  font-family: Arial, sans-serif;
  color: #333;
  margin: 0;
  background-color: #f9f9f9;
}

/* Grid-oppsett */
header {
  background-color: #073255;
  color: white;
  text-align: center;
  padding: 20px;
  border-radius: 8px;
  margin: 20px;
}

.section {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  margin: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Stiler for seksjonene */
.about, .school, .skills, .hobbies {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
}

/* Footer */
footer {
  text-align: center;
  padding: 10px;
  background-color: #333;
  color: white;
  border-radius: 8px;
  margin: 20px;
}

/* Responsiv layout */
@media screen and (max-width: 900px) {
  body {
    display: flex;
    flex-direction: column;
  }
}
